{% extends "auctions/layout.html" %}

{% block title %}
    Create Listing
{% endblock %}
    
{% block body %}
<div class="bid-form-container">
    <div class="auction-title" style="padding-bottom: 1rem;">
        <h1 class="subheading1">Auction Item</h1>
        <h4 class="subheading3">Kindly provide accurate information about item for auction</h4>
    </div>
<form class="form2" action="{% url 'add_listing' %}" method="POST">
    {% csrf_token %}
    {{form}}
    <input class="submit-bid" type='submit' value='Place Listing' style="margin-top:1rem;">
</form>
<p>{{message}}</p>
</div>

{% endblock %}
