{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <form action="{% url 'display_category' %}" method="POST">
        {%csrf_token%}
        <label for="categories">Pick a category for your listing</label>
        <select name="categories">
            {% for category in categories %}
            <option> {{category }} </option>
            {% endfor %}
        <select>

        <input type="submit" value="Filter">
    </form>
   
    <div>
        {%for listing in listings%}
        <h1>Title: {{listing.name}}</h1>
        <img class="img" src="{{listing.image}}" />
        <p>{{listing.description}}</p>
        <h5>Starting Price: {{listing.starting_price}}</h5>
        <h5>Listed by: {{listing.owner}}</h5>
        <h5>Category: {{listing.category}}</h5>
        <h5>Listed on: {{listing.created_at}}
        <a href="{% url 'listing' listing.id %}"> View Listing</a>
        {% comment %} <a href="{%url 'listing' auction.id %}">View Item</a>{% endcomment %}
        <p>{{comments}}</p>
        {%endfor%}
    </div>

    TODO
{% endblock %}