{% extends "auctions/layout.html" %}

{% block body %}
    <div class= "category-container">
        <div class="subheading">
            <h7 class="subheading1">Active Listings</h7>
            <h2 class="subheading2"> {{selected_category}}</h2>
        </div>
        <form action="{% url 'display_category' %}" method="POST"  class="form1">
            {%csrf_token%}
            <label for="categories">Pick a category of listings:</label>
            <select name="categories">
                <option value="none" selected disabled hidden>Choose filter option</option>
                {% for category in categories %}
                <option> {{category }} </option>
                {% endfor %}
            <select>

            <input type="submit" value="Filter">
        </form>
    </div>
    {% if listings %}
    {%for listing in listings%}
    <div class="listings-container">
        <div class="listing-body">
                <div class="listing-date">
                    <h7>Listed on: </h7>
                    <h7>{{listing.created_at}}</h7>
                </div>
                <img class="img" src="{{listing.image}}" />
                <div style="display:flex; justify-content:space-between;">
                    <div style="padding:1rem 0rem 0rem 0rem;">
                    <h7>Item:</h7>
                    <h5>{{listing.name}}</h5>
                    <p style="margin:0;">{{listing.description}}</p>
                    </div>
                    <div style= "padding: 1rem 1rem;">
                    <h7>Starting Price: </h7>
                    <h5>${{listing.starting_price}}</h5>
                    </div>
                </div>
                <div class="listing-detail">
                    <div class="details-container">
                        <div class="details">
                            <h7>Category: </h7>
                            <h7>{{listing.category}}</h7>
                        </div>
                        <div class="details">
                            <h7>Listed by: </h7>
                            <h7>{{listing.owner}}</h7>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding: 0rem 2rem;">
                <button class="view-listing-button"><a style="color: white;" href="{% url 'listing' listing.id %}"> View Listing</a></button>
            </div>
                {% comment %} <a href="{%url 'listing' auction.id %}">View Item</a>{% endcomment %}
            <p>{{comments}}</p>
        </div>
    </div>
    {%endfor%}
    {% else %}
    <div class="listing-container">
        <div class"listing-body">
            <h5>No Active Listing In This Category</div>
        </div>
    </div>
    {% endif %}
{% endblock %}