{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Citi Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="navbar">
            <div>
                <h1 class ="navbar-brand">Citi Auctions</h1>
                <div class = "auth-status">
                    {% if user.is_authenticated %}
                        Signed in as <strong>{{ user.username }}</strong>.
                    {% else %}
                        Not signed in.
                    {% endif %}
                </div>
            </div>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                        <a class="nav-link" href="{%url 'add_listing'%}">Add Listing</a>
                        <a class="nav-link" href="{%url 'watchlist'%}"> Watchlist </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <hr class="nav-line">
        <div class="main">
        {% block body %}
        {% endblock %}
        </div>
    </body>
</html>
