{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Citi Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    
    <body>
        <div class="body-container">
            <div class="navbar">
                <div class="navbar-brand-container">
                    <h1 class ="navbar-brand">CITI AUCTIONS</h1>
                    <div class = "auth-status">
                        {% if user.is_authenticated %}
                            Signed in as <strong>{{ user.username }}</strong>.
                        {% else %}
                            Not signed in.
                        {% endif %}
                    </div>
                </div>
                <div class="nav" id="nav-id">
                    <ul>
                        <li class="nav-item">
                            <div class="menu-item-container">
                                <a class="nav-link" href="{% url 'index' %}">
                                    {% comment %} <i class="material-icons">home</i> {% endcomment %}
                                    Active Listings
                                </a>
                            </div>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">
                                    {% comment %} <i class="material-icons">exit_to_app</i> {% endcomment %}
                                    Log Out
                                </a>
                                <a class="nav-link" href="{%url 'add_listing'%}">
                                    {% comment %} <i class="material-icons">playlist_add</i> {% endcomment %}
                                    Auction item
                                </a>
                                <a class="nav-link" href="{%url 'watchlist'%}"> 
                                    {% comment %} <i class="material-icons">bookmark</i> {% endcomment %}
                                    Watchlist 
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">
                                    {% comment %} <i class="material-icons">login</i> {% endcomment %}
                                    Log In
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'register' %}">
                                    {% comment %} <i class="material-icons">person_add</i> {% endcomment %}
                                    Sign Up
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <button class="burger-nav" id="burger-nav-id" 
                    style="background-color: transparent; border: none; color:black;"
                    >
                    <i class="material-icons" style="font-size: xx-large;">menu</i>
                </button>
            </div>

            {% comment %} <div class="listing-menu">
                {% if user.is_authenticated %}
                    <li>
                    <a class="nav-link" href="{%url 'add_listing'%}">Add Listing</a>
                    <a class="nav-link" href="{%url 'watchlist'%}"> Watchlist </a>
                    </li>
                
                {% endif %}
            </div> {% endcomment %}
            <div class="main">
                {% block body %}
                {% endblock %}
            </div>
            
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function(){
                const el = document.getElementById('burger-nav-id')
                const nav = document.getElementById('nav-id')
                el.onclick = handNavClick;

                function handNavClick(){
                    if(nav.style.display === "none"){
                        nav.style.display = "block";
                    }else{
                        nav.style.display = "none";
                    }
                }
                
            });
        </script>
    </body>
</html>
