{% extends 'auctions/layout.html'%}

{% block title %}
Listing
{% endblock%}

{% block body%}

<div>
{% if user.is_authenticated %}
    {% if is_active %}
    {% if listing_in_watchlist %}
        <form action="{% url 'remove_from_watchlist' listing.id %}" method="POST">
            {%csrf_token%}
            <input type="submit" value="Remove from watchlist" class="submit-bid"></input>
        </form>
    {% else %}
        <form action="{% url 'add_to_watchlist' listing.id %}" method="POST">
            {%csrf_token%}
            <input type="submit" value="Add to watchlist" class="submit-bid">
        </form>
    {% endif %}
    {% endif %}
    {% if is_owner and is_active %}
    <a href="{%url 'close_listing' listing.id%}"><button class="submit-bid2">Close Auction</button></a>
    {% endif %}
{%else%}

{% endif %}
</div>

<div>
    <div class="listings-container">
        <div class="listing-body" style="flex-direction: column;">
                <div style="padding:1rem 0rem; display:flex; align-items:center; gap:1rem;">
                    <div class="" style="margin-block:0.5rem;"><h5>{{listing.name}}</h5></div>
                    <div class="listing-detail">
                        <div class="details-container">
                            <div class="details">
                                <h8>Category: </h8>
                                <h8>{{listing.category}}</h8>
                            </div>
                            <div class="details">
                                <h8>Listed by: </h8>
                                <h8>{{listing.owner}}</h8>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="listing-page-desc-view">
                    <div class="listing-page-img-container"><img class="img" src="{{listing.image}}" /></div>
                    <div class="listing-page-desc-container">
                        <div style="padding-top:1rem;">
                            <h7>Description:</h7>
                            <p class="listing-description">{{listing.description}}</p>
                        </div>
                        <div style= "padding: 1rem 0rem;">
                            <h7 style="">Starting Price: </h7>
                            <h5>${{listing.starting_price}}</h5>
                        </div>
                    
                        {% comment %} <h1>Current Price: {{highest_bid}}</h1> {% endcomment %}
                        {% comment %} <h2>{{number_of_bids}} bids have been made</h2> {% endcomment %}
                       
                        <div class="listing-date">
                            <h7>Listed on: </h7>
                            <h7>{{listing.created_at}}</h7>
                        </div>
                        <hr>
                        <div class ="bidders-list">
                            <select>
                                <option selected disabled hidden>{{number_of_bids}} bids have been made</option>
                                {%for bid in bids %}
                                <option>
                                <li>Bid: {{bid.bid}}</li>
                                <p>Placed by {{bid.bidder}}</p>
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% if is_active %}
                    <div class="bid-form-container">
                        <form class="form1" action="{%url 'bid' listing.id%}", method="POST">
                            {% csrf_token %}
                            {{form}}
                            {% comment %} <input type="">Enter your bid</input> {% endcomment %}
                            <input class="submit-bid" type="submit" value="Submit Bid">
                        </form>
                    {% else %}
                        <div class="bid-form-container">
                        <h1 class="listing-description">Auction closed! </h1>
                        <h5>Sold to {{highest_bidder}} for ${{highest_bid}}</h5>
                        </div>
                    </div>
                    {% endif %}
                    
                </div>
                
            </div>
        </div>
        <div>
            {% if messages %}
            <ul class="notice">
                {% for message in messages%}
                <li {% if message.tags %} class = {{message.tag}} {%endif%}>{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
        <div>
</div>


<div class="comment-section" style="padding:1rem;">
    <div class="comment-div" style="margin-top: 1.5rem;">
        <div>
            {% comment %} <h8 style="font-weight:bold; font-size:1rem;">Comments</h8> {% endcomment %}
        </div>
        {%for comment in comments %}
        <div class="comment-details">
            <h6>{{comment.author}}</h6>
            <h5 style="font-size:medium; font-weight:lighter;">{{comment.comment}}</h5>
            
        </div>
        {% endfor %}
    </div>
    <div style="margin-top: .7rem; align-self:end;">
        <form class="comment-form" action="{% url 'add_comment' listing.id %}" name="comment_form" method="POST">
            {%csrf_token%}
            {{new_comment_form}}
            <input class="comment-submit" type="submit" value="Add comment">
        </form>
    </div>
</div>

{% endblock %}
