{%extends "auctions/layout.html"%}






{% block body %}
    <div style="padding: 1rem ;">
            <h1 class="subheading1">Watchlist</h1>
            <h1 class="subheading3">Review items in your watchlist</h1>
    </div>
    <div class="items-layout">
    <div class="category-container" style="padding: 0rem;">
        {%for listing in listings%}
        
            <div class="listings-container">
                <a class="" style="color:gray; text-decoration: none;" href="{% url 'listing' listing.id %}">
                    <div class="listing-body" style="flex-direction: column;">
                            <div class="listing-date">
                                <h7>Listed on: </h7>
                                <h7>{{listing.created_at}}</h7>
                            </div>
                            
                            <div class="listing-page-desc-view">
                                <div class="watchlist-page-img-container"><img class="watchlist-img" src="{{listing.image}}" /></div>
                                <div class="listing-page-desc-container">
                                    <div class="watchlist-desc1">
                                        <div style="padding-top:0rem;">
                                            <h7>Item:</h7>
                                            <h5>{{listing.name}}</h5>
                                            <p style="margin:0; font-size:small;">{{listing.description}}</p>
                                        </div>
                                        <div style= "padding: .5rem 0rem;">
                                            <h7>Starting Price: </h7>
                                            <h5>${{listing.starting_price}}</h5>
                                        </div>
                                    </div>
                                    <div class="listing-detail">
                                        <div class="details-container">
                                            <div class="details">
                                                <h7>Category: </h7>
                                                <h7>{{listing.category}}</h7>
                                            </div>
                                            <div class="details">
                                                <h7>Listed by: </h7>
                                                <h7>{{listing.owner}}</h7>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            {% comment %} <a href="{%url 'listing' auction.id %}">View Item</a>{% endcomment %}
                        <p>{{comments}}</p>
                    </div>
                </a>
            </div>
        
        {%endfor%}
        </div>
    </div>
{% endblock %}