body {
    padding: 0px;
}

.img-div{
    width: 100%;
    height: 15rem;
    position: relative;
}
.img-div img{
    width: 100%;
    max-height: 15rem;
    height: auto;
    object-fit: cover;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar-brand{
    font-size: 1.5rem;
    font-weight: 200;
    margin: 0;
    padding: 0rem;
}
.auth-status{
    font-size: medium;
    padding: 0px .2rem;
    font-weight: 500;
    color: gray;
}
.nav{
    font-size: 1rem;
}
.nav > li:nth-child(1){
    font-weight: 700;
    display: flex;
    align-items: center;
}
.nav-item:hover{
    color: black !important;
}

.nav-link{
    color: darkgray;
    font-weight: 800;
    align-items: center;
    display: flex;
    gap: 1rem;
    padding-block: .8rem;
}
ul{
    list-style: none;
    padding: 0rem;
}
.subheading{
    margin-bottom: 1rem;
}
.subheading1{
    font-size: 2.5rem;
    font-weight: 300;
}
.subheading2{
    font-size: 2.5rem;
}
.subheading3{
    font-size:large;
}
.category-container{
    padding: 1rem;
}
.form1{
    top: 0rem;
    display: flex; 
    flex-direction: column;
}
.form2{
    display: flex;
    flex-direction: column;
    /* padding-right: 2rem; */
}
.form1 label{
    font-size: medium;
    margin-top: 1rem;
    font-weight: 700;
    color: gray;
}
.form-control{
    padding: 1.5rem 1rem;
    font-size: 1.1rem;
    border: 1px solid gray;
    border-radius: 4px;
}
.form-control1{
    padding: 1rem 1rem;
    font-size: 1rem;
    border: 1px solid gray;
    border-radius: 4px;
    margin:.5rem 0rem;
}
.notice{
    position: absolute;
    top: 1rem;
    text-align: center;
    width: 100%;
    font-weight: 800;
}
/* .category-container h2{
    margin-bottom: 3rem;
} */
.category-container label{
    font-weight: 600;
    color: gray;
}
.category-container select{
    padding: .4rem 1rem;
    font-size: 1rem;
    border: 1px solid gray;
    border-radius: 4px;
}
.category-container input{
    padding: .4rem;
    margin: .5rem 0rem;
    font-size: 1rem; 
    font-weight: 600;
    border: none;
    background-color: black;
    color: azure;
}
.submit-bid{
    padding: .4rem 1rem;
    /* margin: .5rem 0rem; */
    font-size: 1rem;
    font-weight: 600;
    border: none;
    background-color: black;
    color: azure;
}
.comment-form textarea{
    background-color: #fdfdfd;
    border-radius: 0px;
    box-shadow: 2px 2px;
}
.comment-submit{
    padding: .4rem 1rem;
    margin: .5rem 0rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    background-color: black;
    color: azure;
}
.submit-bid2{
    padding: .4rem 1rem;
    margin: .5rem 0rem;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid black;
    border-left: none;
    background-color: white;
    color: black;
}
.listings-container{
    padding: .1rem;
    padding-bottom: 1rem;
}
.listing-body{
    /* padding: 1rem .5rem 0rem .5rem; */
}
.listing-body:hover{
    /* background-color: #fafafa; */
}
.listing-body:hover h5{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
.img{
    height: 30rem;
    width: 100%;
    object-fit: fill;
}
.listing-body h1{
    font-size: 2rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding: .2rem 0rem 0rem 0rem;
}
.listing-body p{
    font-size: .7rem;
    color: rgb(0, 0, 0);
    font-weight: 400;
    padding: 0rem 0rem;
}
.listing-body h5{
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0rem;
    color: rgb(87, 87, 88);
}
.listing-page-desc-container{
    /* display:flex;  */
    justify-content:space-between; 
    padding:0rem 1rem; 
    margin-bottom:1rem;
}
.watchlist-desc1{
    display: flex;
    justify-content: space-between;
}
.details-container{
    display: flex;
    justify-content:space-between;
}
.details-container div:nth-child(1){
    padding: 0rem 1.5rem 0rem 0rem;
}
.details{
    color: gray;
    
}
.listing-detail{
    margin-block: .1rem;
    align-self: center;
}
.listing-date{
    padding: 0rem;
    font-size: 12px;
}
.listing-body h7{
    font-size: small;
    font-weight: 20;
    color: gray;
}
.listing-body h8{
    font-size: medium;
    font-weight: 200;
    color: gray;
}
.listing-description{
    font-size: large !important;
    margin: 0rem;
}
.view-listing-button{
    padding: .4rem;
    margin: 1rem 0rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    background-color: black;
    color: azure;
    width: 100%;
}
.bid-form-container{
    padding: 1rem 1.5rem;
}
.bidders-list{
    padding: 1rem 0rem 0rem 0rem;
}
.bidders-list select{
    /* padding: .2rem 1rem; */
    font-size: medium;
    border: none;
}
.comment-details{
    padding: 1rem;
    background-color: rgb(245, 245, 245);
    margin-bottom: 1rem !important;
}
.comment-details h3{
    padding: 1rem;
}

/* LOGIN PAGE AND SIGNUP*/
.login-container{
    margin-top: 0rem;
    padding: 1rem;
    align-items: baseline;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.login-intro{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
}
.login-intro h1{
    font-size: 2rem;
}
.login-form-container{
    width: 100%;
    padding: 1.5rem 0rem;
}
.login-form .form-group input{
    padding: 1.5rem 1rem;
    font-size: 1.1rem;
}
.login-button{
    padding: .5rem 1rem;
    font-size: 1.2rem;
    width: 100%;
    background-color: black !important;
    border: none;
}
.splash-img{
    width: 100%;
    position: absolute;
    height: 100%;
    object-fit: cover;
}
.splash-text{
    position:absolute;
    bottom: 1rem;
    left: 1rem;
    color: white;
    font-weight: 700;
}
.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
    border-radius: .3rem;
}
.listing-menu{
    display: none;
}
.menu-item-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.watchlist-page-img-container{
    width: 100%;
    height: 20rem;
    position: relative;
}
.watchlist-img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.nav{
    display: none;
    position: absolute;
    top: 5rem;
    right: 1rem;
    border-radius: .3rem;
    /* background-color: #f9f9f9; */
}

@media (min-width: 768px) and (max-width: 1023px) {
    .body-container{
        display: flex;
        gap: 2rem;
        flex-wrap: nowrap;
        position: relative;
        /* flex-direction: column; */
    }
    .img-div{
        max-width: 20rem;
        height: 12rem;
        position: relative;
    }
    .img-div img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .nav{
        display: block;
        position: relative;
        left: .6rem;
        top: 2rem;
    }
    .burger-nav {
        display: none;
        background-color: transparent;
    }
    .nav-line{
        display: none;
    }
    .main-body{
        max-width: 788px;
        /* justify-content: space-between; */
    }
    .navbar{
        align-items: flex-start;
        height: 100dvh;
        position: fixed;
        flex-direction: column;
        justify-content: start;
        flex-basis: 20%;
        margin-right: 2rem;
    }
    .navbar-brand{
        font-size: 1.7;
    }
    .main{
        margin-top: 4rem;
        flex-basis: 60%;
        justify-content: center;
        left: 25%;
        position: relative;
        margin-left: 1rem;
    }
    .nav{
        flex-direction: column;
    }
    .listing-menu{
        display: flex;
        flex-basis: 20%;
    }
    .listing-body{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        flex-wrap: wrap;
    }
    .watchlist-page-img-container{
        max-width: 20rem;
        height: 20rem;
        position: relative;
    }
    .watchlist-img{
        width: 100%;
        height: 100%;
        object-fit:cover;
    }
    .form1{
        position:fixed;
        top: .5rem;
        gap: .3rem;
        padding-inline: 1rem;
        display: flex;
        flex-direction: row;
        z-index: 1;
    }
    .items-layout{
        display: grid;
        gap: 2rem;
        column-gap: 1rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .category-container input{
        margin: 0rem;
        padding-inline: 3rem;
        border-radius: 5px;
    }
}

@media (min-width: 1024px) {
    .body-container{
        display: flex;
        gap: 2rem;
        flex-wrap: nowrap;
        position: relative;
        /* flex-direction: column; */
    }
    .login-container{
        margin-top: 0rem;
        padding: 1rem;
        align-items: baseline;
        display: flex;
        flex-direction: column;
        width: 50%;
    }    
    .img-div{
        width: 20rem;
        height: 12rem;
        position: relative;
    }
    .img-div img{
        width: 100%;
        max-height: 12rem;
        height: auto;
        object-fit: cover;
    }
    .nav{
        display: block;
        position: relative;
        left: .6rem;
        top: 2rem;
    }
    .navbar-brand-container{
        padding-inline: 3rem;
    }
    .navbar-brand{
        font-size: 2rem;
    }
    .burger-nav {
        display: none;
    }
    .nav-line{
        display: none;
    }
    .main-body{
        max-width: 788px;
        /* justify-content: space-between; */
    }
    .subheading1{
        font-size: 3.5rem;
    }
    .listing-page-desc-view{
        display: flex;
        justify-content: space-between;
        /* flex-wrap: wrap; */
    }
    .listing-page-desc-container{
        display: block;
        padding:0rem 1rem; 
        margin-bottom:1rem;
        width:20rem;
    }
    .listing-page-img-container{
        max-width: 40rem;
    }
    .watchlist-page-img-container{
        width: 20rem;
        height: 20rem;
        position: relative;
    }
    .watchlist-img{
        width: 100%;
        height: 100%;
        object-fit:cover;
    }
    .watchlist-desc1{
        display: block;
    }
    .navbar{
        align-items: flex-start;
        height: 100dvh;
        position: fixed;
        flex-direction: column;
        justify-content: start;
        flex-basis: 20%;
        margin-right: 2rem;
    }
    .main{
        margin-top: 4rem;
        flex-basis: 78%;
        justify-content: center;
        left: 20%;
        position: relative;
    }
    .nav{
        flex-direction: column;
        margin-left: 2rem
    }
    .listing-menu{
        display: flex;
        flex-basis: 20%;
    }
    .listing-body{
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        gap: 1rem;
    }
    .items-layout{
        display: grid;
        gap: .6rem;
        column-gap: 1rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .form1{
        position:fixed;
        padding-inline: 1rem;
        top: .5rem;
        gap: .3rem;
        right: 20%;
        z-index: 1;
        display: flex;
        flex-direction: row;
    }
    .form2{
        display: flex;
        flex-direction: column;
        width: 40rem;
        padding-right: 2rem;
    }
    .category-container input{
        margin: 0rem;
        padding-inline: 3rem;
        border-radius: 5px;
    }
    .comment-section{
        width: 60rem;
        display: flex;
        gap: 2rem;
        padding-inline: 0rem !important;
    }
    .comment-div{
        width: 45%;
    }
    .comment-section div{
        margin: 0rem !important;
    }
}

